.add-new-board-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-flow: column-reverse;
}
.add-new-board-button {
  align-self: center;
}
.add-new-board-form-container {
  position: relative;
}
.add-new-board-form-container input {
  width: 90%;
  margin: 5%;
}
