.add-new-item-container {
  position: relative;
}
.add-new-item-button {
  color: white;
  font-size: 2em;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.add-new-item-form-container {
  position: absolute;
}
