body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: #e9e9e9; */
  background-color: #f5f5f5;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;

  font-family: "Karla", sans-serif;
  overflow: hidden;
}

.nav-bar-container {
  height: 10%;
  padding-right: 5%;
  width: 90%;
  margin: auto;
}
.landing-page-container {
  height: 100%;
  width: 94%;
  overflow: auto;
  margin: 0 0 0 6%;
}
.non-nav {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: auto;
}

.standard-button {
  border-radius: 5px !important;
  background-color: rgb(0, 193, 241) !important;
  color: white !important;
  font-size: 0.9em !important;
  font-weight: bold !important;
  min-height: 30px !important;
  cursor: pointer !important;
}
.selectedDisplay {
  box-sizing: border-box;
  border: 2px solid rgb(160, 236, 255) !important;
  /* box-shadow: inset 0 0 5 rgb(113, 175, 255); */
  background-color: rgb(212, 246, 255) !important;
}
.delete-button {
  border-radius: 5px;
  background-color: rgb(255, 44, 44) !important;
  color: white !important;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 30px;
  cursor: pointer;
}
.unavailable-button {
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black !important;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 30px;
  cursor: initial;
  pointer-events: none;
  user-select: none;
}

.back-button {
  /* position: relative; */
  box-sizing: border-box;
  padding: 0;
  margin-left: 1%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 3px 3px #c9c9c9;
  color: white;
  background-color: #c9c9c9;

  display: flex;
  justify-content: center;

  font-size: 2.5em;
  cursor: pointer;
}
.boards-container:hover .back-button {
  background-color: black;
  left: 11%;
}

.hover-cover {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
.hover-cover:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 5;
}

.no-location.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 99%;
  font-size: 110%;
}
.no-location.container div:last-of-type {
  align-self: flex-end;
}
.no-location.main-text p {
  margin: 0;
  margin-bottom: 5px;
}
.no-location.links {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  justify-content: flex-end;
  align-items: flex-end;
}
.no-location.links a {
  padding-right: 15px;
  font-size: 1.3em;
  color: black;
  /* text-decoration: none; */
}
.fa-github-square {
  font-size: 2.3em;
}

input[type="text"],
textarea {
  color: rgb(104, 104, 104);
  border: none;
  border-radius: 3px;
  padding: 10px 0 6px 5px;
  box-shadow: 0px 4px 7px -3px grey, 0px 0px 5px 1px rgb(212, 212, 212);
}
input[type="text"]::selection,
textarea::selection {
  background: rgb(0, 193, 241);
  color: white;
}
textarea {
  font-size: 1.4em;
  width: 100%;
  position: relative;
  line-height: 1.3em;
}
textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0px 4px 7px -3px grey, 0px 0px 3px 1px rgb(0, 193, 241);
}
.text-area-wrap {
  position: relative;
  display: inline-flex;
}
.text-area-pull-tab {
  height: 0px;
  width: 0px;
  border-top: 10px solid rgb(0, 193, 241);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotate(-45deg);
  position: absolute;
  bottom: -2px;
  right: -6px;
  pointer-events: none;
  z-index: 2;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
  height: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
}
textarea::-webkit-scrollbar-track {
  background: rgb(218, 218, 218);
}
textarea::-webkit-resizer {
  display: none;
}
textarea::-webkit-scrollbar-corner {
  background: rgb(218, 218, 218);
}
