body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 233, 233);
}

.App {
  width: 94vw;
  height: 100vh;
  padding-left: 3vw;

  font-family: "Karla", sans-serif;
}

.nav-bar-container {
  height: 10%;
  padding-right: 5%;
}
.landing-page-container {
  height: 80%;
}
