.boards-container {
  position: absolute;
  left: 3%;
  top: 0%;
  width: 3%;
  height: 100vh;
  background: linear-gradient(#baa3fc, #6d1cf8);

  z-index: 10;
  overflow: hidden;
  transition: all 0.5s;
}
.boards-container:hover {
  width: 10%;
}
/* .board-container:hover .board-item-container { */
/* transform: rotateZ(0deg); */
/* } */
.boards-content {
  width: 100%;
  height: 100%;
}
.boards-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;

  list-style: none;
  padding: 0;
  margin: 0;
}

.board-item {
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-top: 2px solid white;

  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  transition: all 0.5s;
}

/* .board-type {
  display: flex;
  justify-content: center;
}
.board-type span {
  text-align: center;
}
.board-type.buttons {
  display: flex;
  flex-flow: column;
}

.board-type-preview {
  background-color: white;
  align-self: center;
  height: 85%;
  width: 100%;

  overflow-y: auto;
}

.display-preview {
  height: 100%;
  width: 100%;
}
.selectedBoard {
  box-sizing: border-box;
  border: 2px solid rgb(121, 179, 255);
  // box-shadow: inset 0 0 5 rgb(113, 175, 255);
  background-color: rgb(225, 238, 255);
}

.board-type-preview.new-board {
  // height: 90%; 
} 
*/
