.edit-container {
  height: 80vh;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.edit-header * {
  margin: 0;
}
.edit-header {
  width: 100%;
  height: 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.edit-header.text {
  /* color: white; */
  text-shadow: 2px 2px white;
}
.edit-content {
  display: flex;
  max-width: 100%;

  padding: 0 1%;
  border-radius: 10px;

  height: 95%;
  justify-content: space-between;
}
.edit-close {
  display: flex;
  align-content: center;
  align-self: flex-end;
}

.edit-close .spacer {
  width: 15px;
  height: 15px;
}
.edit-content > .edit-list {
  width: 65%;
  /* height: 100%; */
  display: flex;
  flex-flow: column;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  overflow-y: auto;
}
.edit-item.display-item {
  width: 100%;
  /* height: 100%; */
  padding: 2%;
  margin: 1% 0;
  border-radius: 10px;
  border: 1px solid rgb(207, 207, 207);
  box-sizing: border-box;
  cursor: pointer;
}
.edit-item.displays-unavailable {
  cursor: initial;
  display: flex;
  flex-flow: column;
}
.edit-item.add-displays-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.edit-item.add-displays {
  border-radius: 5px;
  background-color: rgb(0, 193, 241);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 30px;
  cursor: pointer;
}
.edit-item.current-display {
  text-shadow: 1px 1px white;
  margin-bottom: 1%;
}
.display-type-preview {
  background-color: white;
  align-self: center;
  height: 90%;
  width: 100%;
}
.display-type {
  display: flex;
  justify-content: space-between;
}
.edit-item-content {
  width: 100%;
  height: 90%;
}

.edit-data.container {
  height: 100%;
  width: 35%;
  margin: 0;
  padding: 0 1%;
  border-radius: 10px;

  overflow-y: auto;

  border: 1px solid rgb(207, 207, 207);

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.edit-data .edit-text {
  text-align: center;
  margin: 1% 0;
}
.edit-data.edit-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  margin-bottom: 1%;
}
.edit-data.item {
  width: 90%;
  display: flex;
  flex-flow: column;
}
.edit-data.item p {
  margin-bottom: 0;
}
.edit-data.input-container {
  display: flex;
}
input.edit-data.interval {
  width: 3em;
}
.edit-data.item input {
  /* width: 8%; */
  /* height: 2em; */
  font-size: 1.2em;
}
.edit-data.form {
  display: flex;
  flex-flow: column;
  margin-bottom: 7.5%;
}
.edit-data .buttons {
  display: flex;
  justify-content: center;
}
.edit-data button.update {
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 30px;
  cursor: pointer;
}
.edit-data button.selectedDisplay {
  border-radius: 5px;
  background-color: rgb(0, 193, 241);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 30px;
  cursor: pointer;
}
.edit-data.button-box {
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: bold;
}
.blue {
  color: rgb(0, 157, 219);
}

.close-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.escape-room-list-edit {
}
.escape-room-list-edit.list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}
.escape-room-list-edit.item {
  margin: 1% 0;
  border-bottom: 1px solid rgb(207, 207, 207);
}
