@media screen and (max-width: 1200px) {
  .landing-page-container {
    width: calc(100% - 100px);
    margin: 0 0 0 100px;
  }

  .locations-container {
    width: 50px;
  }
  .locations-container:hover {
    width: 200px;
  }
  .locations-container:hover + .boards-container {
    left: 200px;
  }

  .boards-container {
    left: 50px;
    width: 50px;
  }
  .boards-container:hover {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .locations-container {
    width: 100vw;
    height: 5%;
  }

  .locations-container:active {
    height: 100%;
    width: 40%;
  }
  .locations-container:active + .boards-container {
    left: 40%;
    width: 40%;
  }
  .add-new-item-button {
    font-size: 2em;
  }
  .mobile-nav-logo {
    height: 40px;
    width: 15%;
  }
  #brainy-actz-logo {
    max-height: 100%;
  }

  /* .boards-container {
      left: 7%;
      width: 7%;
    } */

  /* .boards-container:hover,
  .boards-container:active {
    width: 40%;
  } */
  .add-new-board-button {
    font-size: 2em;
  }
}
