.new-tab {
  height: 100vh;
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}
.new-tab::-webkit-scrollbar {
  display: none;
}
.new-tab .board-preview {
}

/* Text Board */
.new-tab .text-board {
}
.new-tab .text-board.container {
  display: flex;
  align-items: center;
}
.new-tab .title {
  font-size: 2.8em;
}

.new-tab .subtitle {
  /* margin: 2% 0 0 0; */
  font-size: 1.8em;
}

.new-tab .text-box {
  margin: 2% 0 0 0;
  font-size: 1.3em;
  overflow-y: auto;
  width: 60%;
}
.new-tab .text-board.image {
  margin: 2% 0 0 0;
}

/* Escape Room */
.new-tab .escape-room {
  width: auto;
}
.new-tab .escape-room.container {
  /* display: flex; */
  /* justify-content: space-around; */
}
.new-tab .escape-room.title {
}
.new-tab .escape-room.subtitle {
}
.new-tab .escape-room.video-box {
  width: 47%;
  align-self: center;
}
.new-tab .escape-room.video {
  width: 100%;
  height: 50vh;
}
.new-tab .escape-room.video div {
  height: 100%;
}

.new-tab .escape-room-list.item {
  height: 30%;
}
